.seller-tab-bar {
    --background: white;
    border-top: 1px solid #e0e0e0;
    padding-bottom: env(safe-area-inset-bottom);

    ion-tab-button {
        --color: #999;
        --color-selected: #667eea;
        font-family: 'Inter', sans-serif;

        ion-icon {
            font-size: 24px;
            margin-bottom: 4px;
        }

        ion-label {
            font-size: 11px;
            font-weight: 500;
        }

        &.tab-selected {

            ion-icon,
            ion-label {
                color: var(--color-selected);
                font-weight: 700;
            }
        }
    }
}