<ion-tabs>
  <ion-tab-bar slot="bottom" class="seller-tab-bar">

    <ion-tab-button tab="seller-tab1">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="seller-tab2">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-label>Produk</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="seller-tab3">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Pesanan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="seller-tab4">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>